<div class="list_content">
    <div class="list_title">
        <p><%= list.title %></p>
    </div>
    <div class="cards_index">
        <div class="card_items">
            <%= render partial: 'cards/card', collection: list.cards %>
        </div>
        <button><%= link_to '+ カードを追加', new_card_path(id: list.id) %></button>
    </div>
</div>