<div class="list_content">
    <div class="list_title">
        <p>TODO</p>
    </div>
    <div class="cards_index">
        <div class="card_item">
            <p>card</p>
        </div>
        <button>+ カードを追加</button>
    </div>
</div>