// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// list_content内
.cards_index {
    .card_item {
        background-color: #ffffff;
        margin: 10px 0;
        border-radius: 4px;
        p {
            padding: 10px;
        }
    }
    button {
        border: none;
        background-color: transparent;
    }
}