// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.lists_index {
    min-height: 100vh;
    height: 100%;
    background-color: #9933CC;
    padding: 10px;
    .lists_contents {
        display: flex;
        flex-direction: row;
        padding-top: 10px;
        .list_content {
            width: 300px;
            padding: 0 10px 10px 10px;
            margin: 0 10px 10px 0;
            background-color: #FFD5EC;
            border-radius: 4px;
            
            .list_title {
        
            }
            // cards_indexがここに入る
        }
    }
}